.main-header
  .main-header__group
    .main-header__group--name
      group name
    .main-header__group--member
      Member:
  .main-header__btn
    =link_to "#", class: "group__edit--btn" do
      %p.main-header__edit-btn Edit
      
.main-message
  .main-message__user
    %p.main-message__user--talker takuya      
    %p.main-message__user--date 2019/10/08/19:14:39
  .main-message__content
    this is my first text
.form
  .form__new-message
    .form__new-message__input-box
      %input.input-box__text{type: "text", placeholder: "type a message"}
      %label.input-box__image
        = icon('fas', 'image')
        %input.input-box__image__file{type: "file"}
    %input.submit-btn{type: "submit", value: "Send"}